<!-- START of: finna - search/list-map.phtml -->
<?php

    function pre_dump($data) {
        echo '<pre>';
        var_dump($data);
        echo '</pre>';
    }
    
    /**
     * These funtions are better suited to be in their controller, but due to debugging issues,
     * they are added here instead...
     * The proper place would be in the FinnaCustom module in a SolrEad record controller.
     */

    function get_relevant_data($xmlstring) {
        $xml = simplexml_load_string($xmlstring);//full_record_to_arr($xmlstring);
        $arr = get_geodata_and_format($xml);
        return $arr;
    }
    
    function get_geodata_and_format($fullrecord_array) {

        $retval = ["geo" => ["swe" => [], "fin" => []], "format" => "unknown"];
        foreach ($fullrecord_array->controlaccess as $key=>$arr) {

            if ((string)$arr->head == "geographic_facet") {
                $retval["format"] = (string)$arr->genreform;
            }
            if ((string)$arr->head == "geographic_facet") {
                $levels = ["swe" => [], "fin" => []];
                foreach ($arr->geogname as $gn) {
                    if ($gn->part) {
                        foreach ($gn->part as $row) {
                            
                            $lang = (string)$row->attributes()["lang"];
                            
                            $region = (string)$row;
                            $matches = array();
                            preg_match('/(.*) \((.*)\)/', $region, $matches);
                            if (count($matches) >= 3) {
                                $retval["geo"][$lang]["title"] = $matches[0];
                                $retval["geo"][$lang]["town"] = $matches[1];
                                $retval["geo"][$lang]["region"] = $matches[2];
                            }
                        }
                        $coordinates = (string)$gn->geographiccoordinates;
                        $lat_lng = explode(",", $coordinates);
                        if (count($lat_lng) == 2) {
                            $retval["geo"]["lat"] = trim($lat_lng[0]);
                            $retval["geo"]["long"] = trim($lat_lng[1]);
                        }
                    } else {
                        $lang = (string)$gn->attributes()["lang"];
                        $level = (string)$gn;
                        $levels[$lang][] = $level;
                    }
                }

                $retval["geo"]["swe"]["levels"] = $levels["swe"];
                $retval["geo"]["fin"]["levels"] = $levels["fin"];
            }
        }
        //pre_dump($retval);
        return $retval;
    }
    
?>
<div class=".popver-container">
    <div id="map_popover">
        <a class="map_popover--close" href="#">x</a>
        <div class="map_popover--content"></div>
    </div>
</div>
<div id="mapsidebar">
    <a class="mapsidebar--close" href="#">x</a>
    <div class="mapsidebar--content"></div>
</div>

<div class="sidebar right">
    <div class="regionlist"></div>
    <div class="items">
        <?php foreach ($this->results->getResults() as $current): ?>
            <?=$this->record($current)->getSearchResult('map')?>
        <?php endforeach; ?>
    </div>
</div>

<div id="mapid" style="width: 600px; height: 600px;"></div>

<?php $this->headScript()->appendFile("transcription.js"); ?>
<?php $this->headScript()->appendFile("list_map.js"); ?>
<!-- END of: finna - search/list-map.phtml -->
