/*body {
  background-color: red;
}*/

.list-map--item {
  border: solid #eee 1px;
  margin: 10px 0;
  padding: 10px;
}

.list-map--item .sidebarcontent {
  display: none;
}

.sidebarcontent {
    padding: 10px 20px;
}

.map-region-icon {
    width: auto;
    margin-top: -19px;
    padding: 0;
    border-bottom: 1px solid #777;
    display: block;
    padding-left: 40px;
}

.mapsidebar--close {
    float: right;
}

.map_popover--close {
    position: absolute;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    top: 0;
}

#mapsidebar .audio-accordion-item {
    display: block;

}

.result-view-map .limit-option-container {display: none;}

.accordion a.toggler.open {
    color: #333;
}

.accordion.level-1 > li > a.toggler {
    border-bottom: 1px solid #333;
    display: block;
    color: #333;
}

.accordion.level-3 {
    padding-left: 10px;
}
.accordion.level-4 {
    padding-left: 15px;
}
.accordion.level-5 {
    padding-left: 16px;
}

.regionlist {
    position: absolute;
    margin-left: -30px;
    z-index: 1000;
    height: 600px;
    background: #fff;
    padding: 20px 20px;
    border: 1px solid #eee;
    border-right: none;
    max-width: 147px;
}

.sidebar.right > .items {
    margin-left: 117px;
    width: 250px;
    margin-top: -10px;
    padding: 20px 0;
    height: 600px;
    overflow-y: auto;
}

.list-map--item.active {
    background: #007c90;
    color: #f2f8f9;
}
.list-map--item.active .iconlabel {
    color: #fff;
}
.transcription {

    
}

.transcription .original {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.transcription .translation {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.leaflet-sidebar {
    font-size: 14px;
}
/*
@media (min-width: 1200px) {
    #mapid .leaflet-sidebar {
        width: 590px;
    }
    #mapid .leaflet-sidebar.left {
       left: -600px; 
    
    }
    
    #mapid .leaflet-sidebar.left.visible {
       left: 0; 
    
    }

    
}*/

.popover-contrainer {
    position: relative;
}

#map_popover {
    /*transition: right 0.5s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, opacity 0.5s;*/
    position: absolute;
    z-index: 2000;
    
    width: 900px;
    height: 600px;
    
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0,0,0,0.2) 6px 8px 14px;
    background-clip: padding-box;
    opacity: 1;
}

#map_popover.open {

    opacity: 1;
    left: -300px;
    top: 0px;
}

#map_popover.closed {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.glossary {
    clear: both;
}

.template-dir-record .recordURLs {
    display: none;
}

.circle {
    background-color: #007c90;
    color: #f2f8f9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px 8px;
    text-align: center;
    opacity: 0.8;
    
    margin-left: -16px;
    margin-top: -16px;

}    


ul.regionnames {
    position: absolute;
    top: -10px;
    left: 3px;
    text-align: left;
    margin-left:10px;
}
ul.regionnames li {
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.3) 1px 1px 6px;
    color: #333;
    margin-left: 10px;
    white-space: nowrap;
}

.circle.contains-1 .regionnames {  }
.circle.contains-1 .regionnames li:nth-child(1) { margin-left: 7px; }

.circle.contains-2 .regionnames { margin-top: -9px; margin-left: 5px;}
.circle.contains-2 .regionnames li:nth-child(1) { margin-left: 13px; }
.circle.contains-2 .regionnames li:nth-child(2) { margin-left: 13px; }

.circle.contains-3 .regionnames { margin-top: -17px; margin-left: 5px;}
.circle.contains-3 .regionnames li:nth-child(1) { margin-left: 10px; }
.circle.contains-3 .regionnames li:nth-child(2) { margin-left: 15px; }
.circle.contains-3 .regionnames li:nth-child(3) { margin-left: 10px; }


.circle.contains-4 .regionnames { margin-top: -17px; margin-left: 5px;}
.circle.contains-4 .regionnames li { margin-top: -3px; }
.circle.contains-4 .regionnames li:nth-child(1) { margin-left: 4px; margin-top: -3px;}
.circle.contains-4 .regionnames li:nth-child(2) { margin-left: 12px; margin-top:-4px; }
.circle.contains-4 .regionnames li:nth-child(3) { margin-left: 13px; margin-top:-5px; }
.circle.contains-4 .regionnames li:nth-child(4) { margin-left: 6px; margin-top:-6px;  }


.circle.contains-5 .regionnames { margin-top: -17px; margin-left: 5px;}
.circle.contains-5 .regionnames li { margin-top: -3px; }
.circle.contains-5 .regionnames li:nth-child(1) { margin-left: 4px; margin-top: -3px;}
.circle.contains-5 .regionnames li:nth-child(2) { margin-left: 12px; margin-top:-4px; }
.circle.contains-5 .regionnames li:nth-child(3) { margin-left: 13px; margin-top:-5px; }
.circle.contains-5 .regionnames li:nth-child(4) { margin-left: 6px; margin-top:-6px;  }
.circle.contains-5 .regionnames li:nth-child(5) { margin-left: -10px; margin-top:-6px;  }


.circle.contains-6 .regionnames { margin-top: -17px; margin-left: 5px;}
.circle.contains-6 .regionnames li { margin-top: -3px; }
.circle.contains-6 .regionnames li:nth-child(1) { margin-left: 4px; margin-top: -3px;}
.circle.contains-6 .regionnames li:nth-child(2) { margin-left: 12px; margin-top:-4px; }
.circle.contains-6 .regionnames li:nth-child(3) { margin-left: 13px; margin-top:-5px; }
.circle.contains-6 .regionnames li:nth-child(4) { margin-left: 6px; margin-top:-6px;  }
.circle.contains-6 .regionnames li:nth-child(5) { margin-left: -10px; margin-top:-7px;  }
.circle.contains-6 .regionnames li:nth-child(6) { margin-left: -20px; margin-top:-8px;  }



.circle.contains-1.level-2 {
    background-color: #f2f8f9;
    border: 2px solid #007c90;
    color: #777;
    padding: 4px 0px;
    font-weight: bold;
}
.circle.contains-1.level-2 .regionnames {
    margin-left: 0;
    
}
.circle.contains-1.level-2 .regionnames li {
    background: #f2f8f9;
    border: 2px solid #007c90;
    color: #777;
    margin-left: 5px;
    z-index: 1;
    border-left: none;
    margin-top: -2px;
    padding: 0 11px;
    text-shadow: none;
}

.circle .iconlabel:before {
    position: absolute;
    top: -11px;
    left: -6px;
    font-size: 13px;
}

.circle.contains-1.level-3 {
    background-color: #f2f8f9;
    border: 2px dashed #007c90;
    color: #777;
    padding-top: 4px;
    font-weight: bold;
}

.animating.map-marker .circle .regionnames li,
.spiderified .circle .regionnames li {
    display: none;
}
